.bg-light{
    background-color: #ba2e1f !important;
}
.nav-link{
    color: white !important;
    border-right: solid 1px white;
    font-size: 12px;
}
.navbar a:hover{
    color: #edeaea !important;
}
.form-control{
    border-radius: 40px;
    width: 270px !important;
}
.form-control input{
    position: relative;
}
form .btn-danger{
    width:30px;
    height:30px;
    border-radius: 40px;
    position: relative;
    right: 50px;
    background-color: #ba2e1f;
}
form .fa{
    position: absolute;
    right: 10px;
    top: 5px;
    left: 6px;
}
.bordernone{
    border: none !important; 
}
.social-bg{
    background-color: #333333;
    width: 27px;
    height: 25px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}
.social-bg:hover{
    background-color: #ee802f;
    cursor: pointer;
}
.social-bg .fa{
    position: absolute;
    left: 6px;
    top: 3px;
    color: white;

}
#topNavigation .bg-light{
    background-color: #2b2b2b !important;
}
#topNavigation .nav-link{
    border: none;
    font-size: 14px;
}
#topNavigation .nav-link:hover{
    color: #ba2e1f !important;
    transition: .2s;
}
#topNavigation .navbar{
    border-radius: 5px;
}
#intro a{
    color: #ba2e1f;
}
.mt-special{
    margin-top: 150px;
}
#content{
    background-color: #f2f2f2;
}
#content a{
    color: #ba2e1f;
}
#content p{
    color: #878787;
}

.client-top h5{
    color: #989898;
}
.client-top span{
    color: #989898;
    font-weight: 400;
}
.img-explanation{
    color: #878787;
}
.line{
    background-color: black;
    height: 1px;
    width: 200px;
}
footer span{
    color:#ba2e1f;
}

footer{
    color: #666666;
}
footer a{
    color: #ba2e1f;
}
footer a:hover{
    color: #ba2e1f;
}

footer .form-control {
    width: 230px !important; 
    border-radius: 0;
    background-color: #f2f2f2;
    border: none;
}
footer .btn{
    background-color: #f2f2f2;
    border: none;
    color: #ba2e1f;
}
footer .btn:hover{
    background-color: #f2f2f2;
    border: none;
    color: #ba2e1f;
    cursor: pointer;
}
#copyright{
    background-color: #f2f2f2;
    color:#919191;
}
